* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
}

.form form {
  display: flex;
  width: 100%;
  max-width: 500px;
}

.form input[type="text"] {
  font-family: "Roboto", sans-serif;
  flex-grow: 1;
  padding: 10px;
  margin-right: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.form button {
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.form .select-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 500px;
}

.form select {
  flex-basis: calc(50% - 10px);
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
}
.error-message {
  display: block;
}

ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

li {
  font-family: "Roboto", sans-serif;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
  background-color: #f9f9f9;
  width: calc(100% - 22px);
  max-width: 500px;
  display: flex;
  justify-content: space-between;
}

li button {
  padding: 5px 10px;
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
li input[type="checkbox"] {
  margin-right: 10px;
}

li span {
  flex-grow: 1;
}
